<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1"/>
    <link rel="icon" type="image/png" href="/pages/main/assets/images/favicon_32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/pages/main/assets/images/favicon_16.png" sizes="16x16"/>
    <base href="/">
    <title>도와도</title>

    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        html, body {
            position: relative;
            width: 100%;
            height: 100%;
            -webkit-overflow-scrolling: touch;
        }

        #sg-mobile {
            width: inherit;
            height: inherit;
        }

        .sg-mobile-container {
            margin: 100px 0;
            width: inherit;
            height: inherit;
            text-align: center;
        }

    </style>
</head>
<body>

<div id="sg-mobile">
    <div class="sg-mobile-container" id="mobile">
        구형 브라우저를 쓰고 계시네요. 최신 인터넷 익스플로러, 크롬 등의 브라우저를 사용해 주세요. <br/>
        <a href="http://browsehappy.com/">http://browsehappy.com/</a>
    </div>
</div>

</body>
</html>